@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    background-color: #2A2A2A;
    padding: 0;
}

#carouselExampleIndicators {

    margin-top: 0;
}

.carousel-inner img {
    height: 400px;
    object-fit: cover;
}

#titulo {
    color: aliceblue;
}
#sobre-nos {
    color: aliceblue;
}

.card-body {
    color: aliceblue;
}

.fade-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Altere a cor e a opacidade conforme necessário */
    z-index: 1; /* Certifique-se de que o overlay fique atrás do texto */
  }
  .card-img-overlay {
    position: relative; /* Certifique-se de que o texto fique acima do overlay */
    z-index: 2; /* O texto deve estar acima do overlay */
  }

 